modules = ["nodejs-20", "web", "python-base-3.13"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Raid Alert Bot"

[[workflows.workflow]]
name = "Raid Alert Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd raid-alert-bot && npm run start"
waitForPort = 8787

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
PING_TARGET = "everyone"
VAPID_CONTACT_EMAIL = "admin@avivclanplus.app"
VAPID_PUBLIC_KEY = "BLNJGUf5ehWRFLy9HbblreTsYpeSq9mUMZR2jUXIRnR_4B9CVvToUEdWv4VEgIVbWxnTo_J2zk32V5aDReiP3Lo"
APP_URL = "https://bf19f7ef-4c7e-420b-986d-b6d1e61948e5-00-1wtndafa02qj3.kirk.replit.dev"

[nix]
channel = "stable-25_05"
